*{
    margin: 0;
    padding: 0;
}
body{
   height: 100vh;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   outline: none;
   font-family: 'Inter', sans-serif;
    background:linear-gradient(-190deg, #1a5432, rgb(4, 12, 5));

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* width: 1096px; */
    width: 550px;
    height: 578.55px;
    border-radius: 20px;
    background:#ebebeb;
    
   
}
.aodImg img{
    width: 450px;
    height: auto;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.conect{
    width: 600px;
    height: 578px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.entrar{
    gap: 15px;
    display: flex;
    width: 65%;
    text-align: left;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 10px;
}
.mostrarPass{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.mostrarPass #olho{
    position: relative;
    right: 25px;
}
.entrar h1{
    color: rgba(0, 0, 0, 0.904);
}
.entrar input{
    width: 90%;
    background-color: blue;
    height: 68.68px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #d3d3d373;
    border: none;

    font-size: 17px;
    padding-left: 10px;
}
.entrar input:hover{
    border: 1px solid;
    color: #020202;
}
.recuperar{
    color: rgba(0, 0, 0, 0.904);
}
.lembrar{
    width: 65%;
    display: flex;
    gap: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
}
.lembrar a{
    text-decoration: none;
}
.lembrar .recuperar{
    width: 100%;
    display: flex;
    font-size: 16px;
}
.lembrar-sempre{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}
.lembrar .active-button p{
    font-size: 18px;
}
.active-button{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.active-button p{

    color: rgb(0, 0, 0)
}
.register{
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.904);
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 5px;
}
.logar{
    width: 45%;
    height: 68.68px;
    border-radius: 6px;
    background:linear-gradient(190deg, #1a5432, rgb(4, 12, 5));
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    margin-top: 8px;
    border: none;
    text-align: center;
}
.logar:hover{
    background: rgba(0, 0, 0, 0.904);
}
.switch{
    position: relative;
    display: inline-block;
    width: 42px;
    height: 20px;
    background: #1a5432;
    border-radius: 50px;
    margin-right: 3px;  
}
.active-button span{
    border-radius: 50px;
    border-color: #6f6d72;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    border-color: #1a5432;
    border-radius: 50px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    border-color: #1a5432;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 56%;
    left: -1px;
    bottom: 0px;
    border-color: #1a5432;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #1a5432;
  }
  input:focus + .slider {
    box-shadow: 0 0 10px #1a5432;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(20px);
  }
  .slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
    border-color: #247445;
  }
#mostrarSenha{
    display: none;
}
.senha{
    display: flex;
    align-items: center;
}
#imgOlho{
    cursor: pointer;
}